@media (orientation:landscape) {
.a0 {
    margin-top: 12vh;
    margin-left: 10vw;
}
.i79{
    margin-left: 53%;
     margin-top: -6%;
      color: white;
       letter-spacing: .02em;
       font-size: 1.5em;
    font-family: cursive;
}
.i89{
    display: flex;
    flex-direction: row;
}
.b0 {
    display: flex;
    align-items: start;
    color: rgb(10, 108, 245);
    flex-direction: row;
}

.i9 {
    border-radius: .5em;
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    margin-left: 15%;
    height: 20vh;
    width: 40vw;
    margin-right: 4vw;
    transition: all 3s ease;
    border: .1em solid rgb(10, 108, 245);
}

.i9:hover {
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(0px);
    border: .1em solid white;
    transform: scale(1.05);
    transition: all 2s ease;

}

.c0 {
    height: .7em;
    width: .7em;
    background-color: rgb(10, 108, 245);
    margin-left: 3.5%;
    margin-top: 3.5%;
}

.d0 {
    color: rgb(10, 108, 245);
    margin-left: 2.5%;
    margin-top: 3%;
    letter-spacing: .1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.e0 {
    margin-left: 3.5%;
    margin-top: -1%;
    letter-spacing: 0.03em;
    font-family: 'Lucida Grande', Arial;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: -2.3%;
}

.g0 {
    margin-left: 3.5%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 3%;
    font-size: 1em;
}

.m0 {
    border-radius: 100%;
    background:rgba(255, 255, 255, .0);
    color: white;
    border: 0px solid black;
    margin-top: -8.6vh;
    font-size: 1em;
    margin-left: 16vw;
    width: 1.1;
    height: 1;
    display: flex;
    text-align: center;
    font-size: large;
    transition: all 2s ease;
}
.m0:hover{
    color: rgb(10, 108, 243);
    background-color: white;
    transition: all 2s ease;
}
.n0::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    margin-top: 2%;
    scrollbar-width: thin;
    overflow: hidden;
    background-color: transparent;
    border-radius: 3%;
  }
  
  .n0::-webkit-scrollbar-thumb {
    overflow: hidden;
    scroll-padding-top: 2vh;
    height: 2px;
    background-color: rgba(255, 255, 255, .2);
  }
  
.n0{
    margin-left: 18.5vw;
    margin-top: -10vh;
    height: 18.4vh;
    overflow: auto;
    color: rgb(248, 250, 252);
    background-color: transparent;
    margin-right: -15vw;
    width: 12.5vw;
    border-radius: 1em;
    text-align: center;
    transition: all 2s ease;
    padding-top:1%;
}
.p01{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.n0:hover{
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}
.i5{
animation: 3s i5 ease;
background-attachment: fixed;

}
/*@keyframes i5 {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}*/
.p012{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}





@media (max-width:768px) and (orientation:portrait) {
.a0 {
    margin-top: 11vh;
    margin-left: 11vw;
}

.b0 {
    display: flex;
    align-items: start;
    color: rgb(10, 108, 245);
    flex-direction: row;
}
.i89{
    display: flex;
    flex-direction: column;
}
.i9 {
    border-radius: .5em;
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    margin-left: 13%;
    height: 32vh;
    width: 76vw;
    flex-wrap: wrap;
    margin-bottom: 4vw;
    margin-right: 3vw;
    transition: all 3s ease;
    border: .1em solid rgb(10, 108, 245);
}

.i9:hover {
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(0px);
    border: .1em solid white;
    transform: scale(1.05);
    transition: all 2s ease;

}

.c0 {
    height: .7em;
    width: .7em;
    background-color: rgb(10, 108, 245);
    margin-left: 3.5%;
    margin-top: 3.5%;
}

.d0 {
    color: rgb(10, 108, 245);
    margin-left: 2.5%;
    margin-top: 3%;
    letter-spacing: .1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.e0 {
    margin-left: 3.5%;
    margin-top: -1%;
    letter-spacing: 0.03em;
    font-family: 'Lucida Grande', Arial;
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: -2.3%;
}

.g0 {
    margin-left: 3.5%;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 3%;
    font-size: .8em;
}

.m0 {
    border-radius: 100%;
    background:rgba(255, 255, 255, .0);
    color: white;
    border: 0px solid black;
    margin-top: -8.9vh;
    font-size: 1em;
    margin-left: 41.9vw;
    width: 1.1;
    height: 1;
    transform: rotate(90deg);
    display: flex;
    text-align: center;
    font-size: large;
    transition: all 2s ease;
}
.m0:hover{
    color: rgb(10, 108, 243);
    background-color: white;
    transition: all 2s ease;
}
.n0::-webkit-scrollbar {
    width: 4px;
    height: 2px;
    margin-top: 2%;
    scrollbar-width: thin;
    overflow: hidden;
    background-color: transparent;
    border-radius: 3%;
  }
  
  .n0::-webkit-scrollbar-thumb {
    overflow: hidden;
    scroll-padding-top: 2vh;
    height: 2px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, .2);
  }
  
.n0{
    margin-left: 11vw;
    margin-top: 4vh;
    height:27.4vh;
    overflow: auto;
    color: rgb(248, 250, 252);
    background-color: transparent;
    width: 31.5vw;
    border-radius: 1em;
    margin-right: 2vw;
    justify-content: space-between;
    text-align: center;
    transition: all 2s ease;
    padding-top:1%;
}
.p01{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.n0:hover{
    transform: scale(1.1);
    transition: all 2s ease-in-out;
}
.i5{
animation: 3s i5 ease;
background-attachment: fixed;
margin-bottom: 130vh;

}
/*@keyframes i5 {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}*/
.p012{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.i79{
    margin-left: 43%;
     margin-top: 6%;
      color: white;
       letter-spacing: .02em;
       font-size: 1.5em;
    font-family: cursive;
}
}